.container {
  text-align: center;
  margin-top: 50px; /* Ajusta el margen para que no quede pegado al borde superior */
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.input {
  padding: 10px;
  width: 300px;
  margin-bottom: 20px; /* Un poco más de margen inferior */
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.button {
  padding: 12px 24px;
  background-color: #f44336; /* Rojo */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px; /* Aumenta el espacio entre el botón y la imagen */
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #d32f2f; /* Rojo más oscuro en hover */
}

.image {
  max-width: 80%;
  margin-top: 20px;
  border-radius: 5px;
  border: 2px solid #ddd;
}
