.home {
    background-color: white;
    color: black;
    /*padding: 2rem;  Este me limita el fondo de la pagina y le da un margen*/ 
  }
  
  /* 🌙 Estilos para modo oscuro */
  :global([data-theme="dark"]) .home {
    background-color: #121212 !important;
    color: white !important;
  }