.servicesSection {
  padding: 80px 15px; /* Agrega un padding a los lados */
  background-color: #f8f9fa;
}

.servicesContainer {
  max-width: 1200px; /* Limita el ancho máximo para evitar que todo quede pegado */
  margin: 0 auto; /* Centra el contenido */
  padding: 50px 20px; /* Agrega espacio interno */
}

.imageGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding: 20px; /* Agrega separación en los lados */
}

.column img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Responsive */
@media (max-width: 768px) {
  .imageGrid {
      grid-template-columns: 1fr;
      padding: 10px; /* Reduce el padding en móviles */
  }
}
