/* Estilos para VideoSection */
.videoSection {
    margin-bottom: -80px;
}

.index5 {
    background: url(/images/banner3.jpg) no-repeat center;
    background-size: contain;  /* La imagen se ajusta a la pantalla sin deformarse */
    background-position: center; /* Asegura que la imagen esté centrada */
    z-index: 0;
    position: relative;
    display: grid;
    align-items: center;
    border-radius: var(--border-radius);
    height: 80vh;
}

.index5::before {
    content: "";
    background: var(--layer);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    border-radius: var(--border-radius);
}

.abpageContent {
    max-width: 500px;
    margin-right: 0;
}

.middleSection h2 {
    font-size: 45px;
    line-height: 20px;
    font-weight: 500;
}
.index5 p,
.vhnyPara {
    color: #fff;
    opacity: 0.8;
}

/* Estilos para el video */
.video {
    max-width: 35%;  /* Ajusta el video al 80% del ancho de su contenedor */
    height: auto;    /* Mantiene la proporción del video */
    margin:  auto;  /* Centrado horizontal */
    display: block;  /* Asegura que el video sea un bloque */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Agrega sombra sutil */
}

/* Si necesitas animación para el icono de play, puedes mantenerlo, pero no es necesario aquí. */
.videoPlayIcon {
    border: transparent;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    display: inline-block;
    line-height: 82px;
}

.videoPlayIcon span {
    color: var(--secondary-color);
    background: #fff;
    display: inline-block;
    width: 55px;
    height: 55px;
    line-height: 55px;
    border-radius: 50%;
    animation: ripple 1s linear infinite;
    transition: 0.3s ease-in-out;
}

.videoPlayIcon span:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.faPlay {
    line-height: 20px;
}

.playView {
    left: 0;
    right: 0;
    top: calc(80% - 40px);
}
